<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Simple Bean Example -->
	<bean id="empInfo" class="com.example.model.Employee">
		<property name="id" value="Emp001"></property>
		<property name="firstName" value="Test"></property>
		<property name="middleName" value="User"></property>
		<property name="lastName" value="Test"></property>
		<property name="age" value="10"></property>
	</bean>

	<!-- Beans Scope -->
	<bean id="empInfoScope" class="com.example.model.Employee" scope="prototype"
		init-method="afterPropertiesSet" destroy-method="destroy">
		<!--<property name="id" value="Emp002"></property> -->
		<!--<property name="firstName" value="Tejas"></property> -->
		<!--<property name="middleName" value="J"></property> -->
		<!--<property name="lastName" value="Patel"></property> -->
		<!--<property name="age" value="22"></property> -->
	</bean>

</beans>