<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- default-init-method="init" default-destroy-method="destroye"> -->

	<!-- Bean Post Processor Class Example -->
	<bean class="com.example.spring.bean.beanPostProcessor.BeanPostProcessorDemo">
	</bean>
	
	<bean class="com.example.spring.bean.beanPostProcessor.BeanPostProcessorDemo1">
	</bean>


	<!-- Simple Bean Example -->
	<bean id="empInfo" class="com.example.model.Employee">
		<property name="id" value="Emp001"></property>
		<property name="firstName" value="Test"></property>
		<property name="middleName" value="User"></property>
		<property name="lastName" value="Test"></property>
		<property name="age" value="10"></property>
	</bean>


	<!-- Beans Scope Example -->
	<bean id="empInfoScope" class="com.example.model.Employee" scope="prototype">
		<!--<property name="id" value="Emp002"></property> -->
		<!--<property name="firstName" value="Tejas"></property> -->
		<!--<property name="middleName" value="J"></property> -->
		<!--<property name="lastName" value="Patel"></property> -->
		<!--<property name="age" value="22"></property> -->
	</bean>


	<!-- Bean Life Cycle Example -->
	<bean id="studentLifeCycle" class="com.example.model.Student">
	</bean>


	<!-- Bean Definition ( Inheritance ) Example -->

	<bean id="helloWorld" class="com.example.model.HelloWorld"
		abstract="true">
		<property name="message1" value="Hello World!" />
		<property name="message2" value="Hello Second World!" />
	</bean>

	<bean id="helloIndia" class="com.example.model.HelloIndia" parent="helloWorld">
		<property name="message2" value="Hello India! Duplicate" />
		<property name="message3" value="Namaste India!" />
	</bean>

	<!-- Inner Bean Example -->
	<bean id="outerBeanTextEditor" class="com.example.model.TextEditor">
		<property name="spellChecker">
			<bean id="innerBeanSpellChecker" class="com.example.model.SpellChecker" />
		</property>
	</bean>

	<!-- ========================= Dependency Example :: Constructor ================================ -->
	<bean id="employeeDI" class="com.example.model.DI.EmployeeDI">
		<constructor-arg ref="addressRef"></constructor-arg>
		<constructor-arg>
			<ref bean="studentRef" />
		</constructor-arg>
		<constructor-arg value="10" type="int"></constructor-arg>
		<constructor-arg value="Ramesh"></constructor-arg>
		<constructor-arg value="true" type="Boolean"></constructor-arg>
	</bean>

	<!-- Reference Bean Customer -->
	<bean id="addressRef" class="com.example.model.DI.AddressDI">
		<constructor-arg value="Ahmedabad"></constructor-arg>
		<constructor-arg value="Gujarat"></constructor-arg>
		<constructor-arg value="India"></constructor-arg>
	</bean>

	<bean id="studentRef" class="com.example.model.DI.StudentDI">
		<constructor-arg value="stu001"></constructor-arg>
		<constructor-arg value="Maulik"></constructor-arg>
		<constructor-arg value="Ranip"></constructor-arg>
	</bean>

	<!-- Constructor DI With Collection Value :- List With String -->
	<bean id="collectionDI" class="com.example.model.DI.QuestionDI">
		<constructor-arg value="111"></constructor-arg>
		<constructor-arg value="What is java?"></constructor-arg>
		<constructor-arg>
			<list>
				<value>Java is a programming language</value>
				<value>Java is a Platform</value>
				<value>Java is an Island of Indonasia</value>
			</list>
		</constructor-arg>
	</bean>

	<!-- Collection :- List With ref -->
	<bean id="collectionDIObject" class="com.example.model.DI.QuestionDI">
		<constructor-arg value="222"></constructor-arg>
		<constructor-arg value="What is java?"></constructor-arg>
		<constructor-arg>
			<list>
				<value>Java is a programming language</value>
				<value>Java is a Platform</value>
				<value>Java is an Island of Indonasia</value>
			</list>
		</constructor-arg>
		<constructor-arg>
			<list>
				<ref bean="answerDI1" />
				<ref bean="answerDI2" />
				<ref bean="answerDI3" />
			</list>
		</constructor-arg>
	</bean>

	<bean id="answerDI1" class="com.example.model.DI.AnswerDI">
		<constructor-arg value="001"></constructor-arg>
		<constructor-arg value="PHP"></constructor-arg>
		<constructor-arg value="Maulik"></constructor-arg>
	</bean>

	<bean id="answerDI2" class="com.example.model.DI.AnswerDI">
		<constructor-arg value="002"></constructor-arg>
		<constructor-arg value=".Net"></constructor-arg>
		<constructor-arg value="Mehul"></constructor-arg>
	</bean>

	<bean id="answerDI3" class="com.example.model.DI.AnswerDI">
		<constructor-arg value="003"></constructor-arg>
		<constructor-arg value="JAVA"></constructor-arg>
		<constructor-arg value="Rakesh"></constructor-arg>
	</bean>

	<bean id="userDI1" class="com.example.model.DI.UserDI">
		<constructor-arg value="1001"></constructor-arg>
		<constructor-arg value="Maulik User"></constructor-arg>
		<constructor-arg value="maulik@gmail.com"></constructor-arg>
	</bean>

	<bean id="userDI2" class="com.example.model.DI.UserDI">
		<constructor-arg value="1002"></constructor-arg>
		<constructor-arg value="Parth User"></constructor-arg>
		<constructor-arg value="parth@gmail.com"></constructor-arg>
	</bean>

	<!-- Collection DI : Map With ref -->
	<bean id="mapDI" class="com.example.model.DI.MapDI">
		<constructor-arg value="1001"></constructor-arg>
		<constructor-arg value="Adress_User Map"></constructor-arg>
		<constructor-arg>
			<map>
				<entry key-ref="answerDI1" value-ref="userDI1"></entry>
				<entry key-ref="answerDI2" value-ref="userDI2"></entry>
			</map>
		</constructor-arg>
	</bean>

</beans>